<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/findIDPW.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header>
    <h1>Project LMS</h1>
</header>
<div>
    <h2>아이디 찾기</h2>
    <form>
        <table>
            <tr>
                <th>성명</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="email" name="email"></td>
            </tr>
        </table>
        <button type="submit">찾기</button>
    </form>
</div>
<div>
    <h2>비밀번호 찾기</h2>
    <form>
        <table>
            <tr>
                <th>아이디</th>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="email" name="email"></td>
            </tr>
        </table>
        <button type="submit">찾기</button>
    </form>
</div>
</body>
</html>