<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/makeLecture.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header>
    <h1>Project LMS</h1>
</header>

<form action="/makelecture" method="post">
    <h1>강의 개설</h1>
    <hr>
    <br>
    강의 제목<br>
    <input type="text" name="lectureName"><br>
    강의 내용<br>
    <textarea name="contents"></textarea><br>
    <button type="submit">강의 개설하기</button>
    </form>
<footer>

</footer>
</body>
</html>