<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/registerLecture.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header>
  <h1>Project LMS</h1>
</header>

<div id="mainDiv">
    <h2>수강신청</h2>


    <form action="/registerclass" method="post">
        <div id="lectureList">
            <ul>
                <th:block>
                    <li th:each="dto:${lecture}">
                        수강신청 체크 <input type="radio" name="code" th:value="${dto.lectureCode}" th:text="${dto.lectureCode}"><br>
                        <table>
                            <tr>
                                <td>강의명</td>
                                <td th:text="${dto.lectureName}"></td>
                            </tr>
                            <tr>
                                <td>강사</td>
                                <td th:text="${dto.teacherId}"></td>
                            </tr>
                            <tr>
                                <td>강의 내용</td>
                                <td th:text="${dto.contents}"></td>
                            </tr>
                        </table>
                    </li>
                </th:block>
            </ul>
        </div>
        <button type="submit">신청하기</button>
    </form>
</div>
</body>
</html>