<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/student_main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header>
    <h1>Project LMS</h1>
</header>

<div id="mainDiv">
    <div id="div1">
        <h4>수강중인 강의 목록</h4>
        <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">C언어</a></li>
        </ul>
    </div>
    <div id="div2">
        <button class="menuBtn" type="button" onclick="location.href='/registerlecture'">수강신청</button>
    </div>
    <div id="div3">
        <button class="menuBtn" type="button">커뮤니티</button>
    </div>
    <div id="div4">
        <button class="menuBtn" type="button">고객센터</button>
    </div>
</div>

<footer>

</footer>
</body>
</html>