<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/teacher_mypage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>
<header>
    <h1>Project LMS</h1>
</header>


<div id="mainDiv">
    <div id="myLecturelist">
        <h2>강의 목록</h2>
        <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">C언어</a></li>
        </ul>
    </div>
    <div id="lectureContents">
        <h2>HTML</h2>
        <div id="introduction">
            <h3>강의 소개</h3>
            <p>
                HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!fsaf!!!!!!!!
            </p>
        </div>
        <div id="lectureVideo">
            <h3>온라인 강의</h3>
            <button type="button">+새 강의 업로드</button>
            <ul>
                <li><a href="#">1. 강의 OT</a></li>
                <li><a href="#">2. HTML 1강</a></li>
                <li><a href="#">3. HTML 2강</a></li>
                <li><a href="#">4. HTML 3강</a></li>
                <li><a href="#">5. HTML 4강</a></li>
            </ul>
        </div>
    </div>



</div>

</body>
</html>